version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: quote-system-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: quote_db
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    restart: always